* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    text-align: center;
    font-size: 100px;
    background-color: #201355;
    color: white;
    height: 100%;
}

#wall {
    list-style-type: none;
    overflow: scroll;
    margin: 10% 0;
    height: 80%;
}
